// $tile-width : 14.28%; //114px in 800px w container
// $tile-height : 50%; // 114px in 228px h container
$tile-width: 248px;
$tile-height: 226px;
$tile-info-bar-height : 24px;
$tile-footer-height : 46px;
$tile-padding : 1em;
$font-family-name : "Helvetica Neue";

// Define responsive rules
// LEGEND:
//  MAX-WIDTH : TILES-ACROSS FULL-TILE-WIDTH FULL-TILE-HEIGHT SIZE-RULE
//  Example: 1300px : 4 3 2 large
//  -------
//  MAX-WIDTH - The max width of the screen for the responsive rule
//  TILES-ACROSS - How many tiles to show across at the given width
//  FULL-TILE-WIDTH - Multiplier for how big to make the "full" tile's width
//  FULL-TILE-HEIGHT - Multiplier for how big to make the "full" tile's height
//  SIZE-RULE - Size rule that will be used to style various components (large is default)
$responsive-sizes: (
    1300px:  4   3   2   large, 
    960px :  3   2   2   small,
    767px :  2   2   2   small,
    478px :  2   2   2   x-small
);

$number-of-widths-and-heights : 4;
$full-tile-width-multiplier : 2;
$full-tile-height-multiplier : 2;

//@import "compass/reset";
@import "compass/css3";
@import "compass/css3/*";

@mixin tile-info-gradient(
    $r: false,
    $g: false,
    $b: false
) {
    height: $tile-footer-height + 30;
    padding-top: 20px;
    @include background-image(linear-gradient(top, rgba($r,$g,$b,0) 0%, rgba($r,$g,$b,1) 40%, rgba($r,$g,$b,1) 100%));
}

@mixin auto-height(
    $pct : 100%
) {
    height: auto;
    &:after {
        content: '';
        display: block;
        margin-top: $pct;
    }
}


@mixin text-stroke(
    $stroke-color : #000,
    $stroke-width : 0.5px,
    $text-color : #fff
) {
    // color: $text-color;
    @include text-shadow(
        -1 * $stroke-width 0 $stroke-color,
        0 $stroke-width $stroke-color,
        $stroke-width 0 $stroke-color,
        0 -1 * $stroke-width $stroke-color
    );
        // Webkit specific stroke settings, if available
        // don't want these quite yet
    //    -webkit-text-fill-color: $text-color;
    //    -webkit-text-stroke: $stroke-width $stroke-color;
}

// This mixin will create tile size rules
@mixin tile-sizes(
    $width: $tile-width,
    $height: 'auto',
    $height-width-ratio: 'auto'
) {
    @for $width-size-mult from 1 through $number-of-widths-and-heights {
        // width is easy, just one rule per width
        @if $height-width-ratio == 'auto' {
            &.w#{$width-size-mult} { 
                width: $width * $width-size-mult;
            }
        } @else {
            &.w#{$width-size-mult} { 
                width: $width;
            }
        }

        // height is trickier, we want a pairing of each width and height
        @for $height-size-mult from 1 through $number-of-widths-and-heights {
            @if $height == 'auto' {
                // they want the 1x1 tile to be square, do that automatically
                &.w#{$width-size-mult}.h#{$height-size-mult} { 
                    @include auto-height(
                        if( $height-width-ratio == 'auto', 
                            percentage($height-size-mult / $width-size-mult),
                            percentage($height-width-ratio)));
                }
            } @else {
                @if $height-width-ratio == 'no-auto-height' {
                    // ignoring the multiplier in the actual height calculation
                    &.w#{$width-size-mult}.h#{$height-size-mult} { 
                        height: $height;
                    }
                } @else {
                    // make a rule for this width/height combo that contains the width they want
                    &.w#{$width-size-mult}.h#{$height-size-mult} { 
                        height: $height * $height-size-mult;
                    }
                }
            }
        }
    }
}

@mixin responsive-rule(
    $responsive-size : 'large'
) {
    @each $max-width, $tile-info in $responsive-sizes {
        $tile-size: nth($tile-info, 4);
        @if $tile-size == $responsive-size {
            @media only screen and ( max-width: $max-width ) {
                @content;
            }
        }
    }
}

@media only screen and (max-width: 484px) {
    .nio-stream div.tile.w1 {
        height: 180px !important;
	width: 100% !important;
    }
    .nio-stream div.tile.tile-full.w1 {
        height: 360px !important;
	width: 100% !important;
    }
}
