.instagram, .twitter-photo {
    $padding: 8px;
    $line-height: 15px;
    $num-lines: 2;

    .tile-footer {
        height: (46 + $num-lines * $line-height + $padding);

        .caption {
            display: block;
            width: 100%;
            font-size: 14px;
            line-height: $line-height;
            height: ($num-lines * $line-height + $padding);
            padding: $padding;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

// custom links inside the right bar
.links {
    margin-top: $tile-info-bar-height + 2px;
    text-align: left;
    font-size: 80%;
    @include responsive-rule('x-small') { display: none; }

    a, a:visited {
        padding: 5px 2px 5px 25px;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center left;
        display: block;

        &.profile-link {
            background-image: url('../../_media/profile_icon_wht.svg');
        }
    }
}

// A template for a full tile with a featured image
@mixin full-tile-image(
    $post-icon-url : false,
    $right-bar-width : 35%
) {
    .full-image {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .right-bar {
        @include responsive-rule('small') {
        }

        .links .post-link {
            background-image: url($post-icon-url);
        }
    }
}

// A template for a full tile with only text
@mixin full-tile-text(
    $post-icon-url : false,
    $right-bar-width : 40%
) {
    .full-text {

        font-size: 100%;
        /*@include responsive-rule('small') { font-size: 100%; }*/

        line-height: 120%;
        padding: 4% 2%;
        overflow: auto;
    }

    .right-bar {

        .links .post-link {
            background-image: url($post-icon-url);
        }
    }
}
