/* Footer Links (About, Contact, ...) */
.footer-links { text-align: center; }

/* Visit Us */
.visit-us .icon {
	width: 20px;
	height: 20px;
	background: transparent no-repeat scroll left top;
	margin: 2px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	top: 4px;

        &.facebook { background-image: url('../../images/visit/facebook-footer-visit.png'); }
        &.gplus { background-image: url('../../images/visit/gplus-footer-visit.png'); }
        &.instagram { background-image: url('../../images/visit/instagram-footer-visit.png'); }
        &.linkedin { background-image: url('../../images/visit/linkedin-footer-visit.png'); }
        &.rss { background-image: url('../../images/visit/rss-footer-visit.png'); }
        &.twitter { background-image: url('../../images/visit/twitter-footer-visit.png'); width: 23px; }
        &.youtube { background-image: url('../../images/visit/youtube-footer-visit.png'); }
}

/* Footer Sources */
#footer-sources {
    text-align: center;
    padding: 8px;

    p {
        position: relative;
        text-align: center;
        padding-bottom: 0;

        &:before {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            top: 50%;
            height: 1px;
            background: #aaa;
        }

        span {
            display: inline-block;
            padding: 0 10px;
            background: #f6f6f6;
        }
    }
}

#source-list {
    margin: 0px;

    li {
        background-repeat: no-repeat;
        display: inline-block;
        list-style-type: none;
        width: 30px;
        height: 30px;
        margin: 8px 8px 0 8px;

        span {
           display:block;
           width: 30px;
           height: 30px;
        }

        &.twitter { background-image: url('../../images/source-logos/twitter.png'); }
        &.facebook { background-image: url('../../images/source-logos/facebook.png'); }
        &.gplus { background-image: url('../../images/source-logos/gplus.png'); }
        &.linkedin { background-image: url('../../images/source-logos/linked-in.png'); }
        &.instagram { background-image: url('../../images/source-logos/instagram.png'); }
        &.youtube { background-image: url('../../images/source-logos/youtube.png'); }
        &.cubuffs { background-image: url('../../images/source-logos/cubuffs.png'); width: 51px; }
        &.colorado { background-image: url('../../images/source-logos/coedu.png'); }
        &.espn { background-image: url('../../images/source-logos/espn.png'); }
        &.ap { background-image: url('../../images/source-logos/ap.png'); }
        &.cnn { background-image: url('../../images/source-logos/cnn.png'); }
        &.bleacher { background-image: url('../../images/source-logos/br.png'); }
        &.cbs { background-image: url('../../images/source-logos/cbs.png'); }
        &.nbc { background-image: url('../../images/source-logos/nbc.png'); }
        &.pac12 { background-image: url('../../images/source-logos/pac-12.png'); }
        &.denverpost { background-image: url('../../images/source-logos/dp-logo.png'); background-size: contain; background-position: center center; }
        &.buffzone { background-image: url('../../images/source-logos/buff-zone.png'); }
        &.ralphie { background-image: url('../../images/source-logos/ralphie.png'); }
    }
}

/* Footer Info - Copyright */
#footer-info {
    #copyright { 
	text-align: center; 
	font-size: 14px; 
	width: 100%; 
	margin-bottom: 12px; 
    }

    /* Footer Info - Powered By */
    p.nio-powered {
        margin: 0px auto;
	padding: 0;
	position: relative;
	width: 150px;

        &:before {
	    content: 'Powered by';
	    font-size: 12px;
	    width: auto;
	    height: 26px;
	    float: left;
	    padding: 2px 0px 0px 0px;
	    margin-right: 5px;
        }

        a {
	    width: 51px;
	    height: 29px;
	    display: inline-block;
	    text-indent: 121%;
	    white-space: nowrap;
	    overflow: hidden;
	    background: url('../../images/nio-logo-transparent.png') center center;
	    background-size: contain;
	    background-repeat: no-repeat;
    
	    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		    src='../../images/nio-logo-transparent.png',
		    sizingMethod='scale'
	    );
	
	    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
		    src='../../images/nio-logo-transparent.png',
		    sizingMethod='scale'
	    )";
        }
    }
}
