@import "base";

// Everything innside of the stream 
.nio-stream {
    background: transparent; 
    * { @include box-sizing(border-box); }

    .no-results,
    .fetch-error {
      text-align: center;
      margin-top: 20px;
      
      .text {
        font-size: 15px;
        font-weight: bold;
      }
      
      .subtext {
        font-size: 13px;
        margin-top: 5px;
      }
    }
    
    $pin-size: 18;
    $logo-size: 30;

    // Individual tiles
    div.tile {

        float: left; 
        position: relative; 
        cursor: pointer;
        color: rgb(255,255,255);
        
        .tile-container {
            margin: 0px 0px 10px 10px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            overflow: hidden;
            @include scale(1);
            @include single-transition(scale, 0.5s);

            font-family: $font-family-name;
            font-weight: 100;
            overflow: hidden;

            a, a:visited {
                color: rgb(255,255,255);
            }

            // The tile contents
            .tile-content {
                width: 100%;
                height: 100%;
                padding: 45px 8px;

                .content {
                    display: none;
                    height: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            $pic-size: 30;
            $pic-padding: 8;

            $pin-size: 15;
            $logo-size: 30;
            $close-size: 16;

            // Top bar on tiles
            .tile-info {
                position: absolute;
                top: 0;
                left: 0;
                height: 46px;
                width: 100%;
                z-index: 99;
                padding: 0px;

                $tile-info-text-size : 1.2em;
                .profile-pic {
                    position: absolute;
                    top: $pic-padding + px;
                    left: $pic-padding + px;
                    width: $pic-size + px;
                    height: $pic-size + px;
                    padding: 0px;
                    display: inline-block;
                
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                }

                .originator-name {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    position: absolute;
                    top: 14px;
                    left: ($pic-padding * 2 + $pic-size) + px;
                    right: $pin-size + 4 + (10 + $logo-size + 8) + px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                    padding-right: 2px;
                }
                
                /*.originator-name:hover {
                  text-decoration: underline;
                }*/

                .pinned {
                    cursor: pointer;
                    width: $pin-size + px;
                    height: $pin-size + px;
                    text-indent: $pin-size + px;
                    white-space: nowrap;
                    overflow: hidden;
                    background: url('../../_media/pinned_icon.svg') center center no-repeat;
                    background-size: $pin-size/2  $pin-size/2;
                    position: absolute;
                    z-index: 99;
                    top: 15px;
                    right: (10 + $logo-size + 8) + px;
                    @include opacity(0.4);
                    @include single-transition(all, 0.5s, ease);
                }

                .tile-logo {
                    width: $logo-size + px;
                    height: $logo-size + px;
                    text-indent: $logo-size + px;
                    white-space: nowrap;
                    overflow: hidden;
                    background: url('../../_media/facebook_icon_wht.svg') center center no-repeat;
                    background-size: $logo-size/2  $logo-size/2;
                    position: absolute;
                    z-index: 99;
                    top: 8px;
                    right: 8px;
                }
            }

            .pinned {
                cursor: pointer;
                width: $pin-size + px;
                height: $pin-size + px;
                text-indent: $pin-size + px;
                white-space: nowrap;
                overflow: hidden;
                background: url('../../_media/pinned_icon.svg') center center no-repeat;
                background-size: $pin-size/2  $pin-size/2;
                position: absolute;
                z-index: 99;
                top: 15px;
                right: (10 + $logo-size + 8) + px;
                @include opacity(0.4);
                @include single-transition(all, 0.5s, ease);
            }

            .close-tile {
              display: none;
              cursor: pointer;
              width: $close-size + px;
              height: $close-size + px;
              text-indent: $close-size + px;
              white-space: nowrap;
              overflow: hidden;
              background: url('../../_media/png/close-btn.png') center center no-repeat;
              position: absolute;
              z-index: 99;
              top: 14px;
              right: 12px;
            }
            
            .time-since-flag {
                position: absolute;
                bottom: 25px;
                right: 9px;
                font-size: 12px;
                z-index: 4;
            }

            .tile-footer {
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: 0px;
                height: $tile-footer-height;
                z-index: 3;
                
                .post-link {
                    position: absolute;
                    bottom: 8px;
                    right: 8px;
                    font-size: 12px;
                }
            }
            
            // share icons
            @import "share_icons";
        }

        .tile-container.youtube {
          background-color: #000;
        }
        .tile-container.linkedin .originator-name,
        .tile-container.gplus .originator-name, 
        .tile-container.youtube .originator-name,
        .tile-container.rss .originator-name {
          left: 9px;
        }
        
        .tile-container.instagram .tile-footer,
        .tile-container.twitter-photo .tile-footer {
          bottom: -46px;
          transition: all 0.2s ease;
        }

        .tile-container.instagram:hover .tile-footer,
        &.tile-full .tile-container.instagram .tile-footer,
        .tile-container.twitter-photo:hover .tile-footer,
        &.tile-full .tile-container.twitter-photo .tile-footer {
          bottom: 0px;
        }

        // "active" tiles
        &.locked-mouse,
        &.locked-click {
            z-index: 100;

            .tile-container {
                @include scale(1.025);
                @include single-transition(scale, 0.5s);
            }
        }

        &.locked-click {
            // Pin is visible on these
            .pinned {
                display: block;
                width: ($pin-size + 4) + px !important;
                height: ($pin-size + 4) + px !important;
                top: 13px !important;
                right: (10 + $logo-size + 6) + px !important;
                opacity: 1 !important;

                border: 2px solid rgb(255,255,255);
                @include border-radius(($pin-size + 4) + px);
                @include box-shadow(2px 2px 2px black);
                @include opacity(1);
            }
        }

        // first, do regular tile sizes, then do responsive ones
        @include tile-sizes($tile-width, $tile-height);
        font-size: 14px;

        // What do we do to tiles when they are full
        &.tile-full { 

            // explicitly set their sizes, for the normal case
            @include tile-sizes(
                $tile-width * $full-tile-width-multiplier,
                $tile-height * $full-tile-height-multiplier,
                'no-auto-height');

            // now incorporate the responsive settings
           /* @each $max-width, $tile-info in $responsive-sizes {
                $tile-dimension: percentage(1 / nth($tile-info, 1));
                $full-tile-width-mult: nth($tile-info, 2);
                $full-tile-height-mult: nth($tile-info, 3);
                @media only screen and ( max-width: $max-width ) {
                    @include tile-sizes(
                        $tile-dimension * $full-tile-width-mult, 
                        'auto', 
                        $full-tile-height-mult / $full-tile-width-mult);
                }
            }*/

            // Helpers for full tile sizes
            @import "full_tiles";
        }
        
        &.tile-full .tile-container .close-tile {
          display: block;
        }

        &.tile-full .tile-container .tile-content .shortContent {
          display: none;
        }
        
        &.tile-full .tile-container .tile-content .content {
          display: block;
        }
        
        &.tile-full .tile-container .tile-content .content .headline {
          font-weight: bold;
        }
        
        // Templates for individual tiles
        @import "templates/*";
    }

    .clearfix:after {
        content: ' ';
        display: block;
        clear: both;
    }
}
