.tile {
  background: #000;
  color: #fff;
  cursor: pointer;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  float: left;
  height: 226px;
  margin: 5px;
  padding: 8px;
  position: relative;
  overflow: hidden;
  width: 248px;
}

.tile,
.tile * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tile-header {
  height: 45px;
  line-height: 29px;
  top: 0;
}

.tile-has-media .tile-header,
.tile-has-media .tile-footer {
  background: rgba(0, 0, 0, .5);
  -webkit-transition: margin 300ms;
  transition: margin 300ms;
}

.tile-has-media .tile-header {
  margin-top: -100%;
}

.tile-has-media:hover .tile-header {
  margin-top: 0;
}

.tile-has-media .tile-footer {
  margin-bottom: -100%;
}

.tile-has-media:hover .tile-footer {
  margin-bottom: 0;
}

.tile-header,
.tile-footer {
  left: 0;
  padding: 8px;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.tile-header *,
.tile-footer * {
  display: block;
  float: left;
}

.tile-author-avatar {
  height: 30px;
  padding-right: 8px;
}

.tile-content {
  padding: 45px 0 45px;
}

.tile-media {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.tile-footer {
  bottom: 0;
  height: 45px;
  line-height: 29px;
  width: 100%;
}

.tile-facebook {
  background: #3b5998;
}

.tile-google {
  background: #b30000;
}

.tile-linkedin {
  background: #4c7eb1;
}

.tile-rss {
  background: #202020;
}

.tile-twitter {
  background: #00aced;
}