/* No files to import found in compass/css3/* */
@media only screen and (max-width: 484px) {
  /* line 134, ../css/_base.scss */
  .nio-stream div.tile.w1 {
    height: 180px !important;
    width: 100% !important;
  }

  /* line 138, ../css/_base.scss */
  .nio-stream div.tile.tile-full.w1 {
    height: 360px !important;
    width: 100% !important;
  }
}
/* line 5, ../css/stream.scss */
.nio-stream {
  background: transparent;
}
/* line 7, ../css/stream.scss */
.nio-stream * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 9, ../css/stream.scss */
.nio-stream .no-results,
.nio-stream .fetch-error {
  text-align: center;
  margin-top: 20px;
}
/* line 14, ../css/stream.scss */
.nio-stream .no-results .text,
.nio-stream .fetch-error .text {
  font-size: 15px;
  font-weight: bold;
}
/* line 19, ../css/stream.scss */
.nio-stream .no-results .subtext,
.nio-stream .fetch-error .subtext {
  font-size: 13px;
  margin-top: 5px;
}
/* line 29, ../css/stream.scss */
.nio-stream div.tile {
  float: left;
  position: relative;
  cursor: pointer;
  color: white;
  font-size: 14px;
}
/* line 36, ../css/stream.scss */
.nio-stream div.tile .tile-container {
  margin: 0px 0px 10px 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition: scale 0.5s;
  -o-transition: scale 0.5s;
  -webkit-transition: scale 0.5s;
  transition: scale 0.5s;
  font-family: "Helvetica Neue";
  font-weight: 100;
  overflow: hidden;
}
/* line 51, ../css/stream.scss */
.nio-stream div.tile .tile-container a, .nio-stream div.tile .tile-container a:visited {
  color: white;
}
/* line 56, ../css/stream.scss */
.nio-stream div.tile .tile-container .tile-content {
  width: 100%;
  height: 100%;
  padding: 45px 8px;
}
/* line 61, ../css/stream.scss */
.nio-stream div.tile .tile-container .tile-content .content {
  display: none;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 77, ../css/stream.scss */
.nio-stream div.tile .tile-container .tile-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 46px;
  width: 100%;
  z-index: 99;
  padding: 0px;
  /*.originator-name:hover {
    text-decoration: underline;
  }*/
}
/* line 87, ../css/stream.scss */
.nio-stream div.tile .tile-container .tile-info .profile-pic {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 30px;
  height: 30px;
  padding: 0px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
/* line 101, ../css/stream.scss */
.nio-stream div.tile .tile-container .tile-info .originator-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  top: 14px;
  left: 46px;
  right: 67px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  padding-right: 2px;
}
/* line 120, ../css/stream.scss */
.nio-stream div.tile .tile-container .tile-info .pinned {
  cursor: pointer;
  width: 15px;
  height: 15px;
  text-indent: 15px;
  white-space: nowrap;
  overflow: hidden;
  background: url("../../_media/pinned_icon.svg") center center no-repeat;
  background-size: 7.5 7.5;
  position: absolute;
  z-index: 99;
  top: 15px;
  right: 48px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 137, ../css/stream.scss */
.nio-stream div.tile .tile-container .tile-info .tile-logo {
  width: 30px;
  height: 30px;
  text-indent: 30px;
  white-space: nowrap;
  overflow: hidden;
  background: url("../../_media/facebook_icon_wht.svg") center center no-repeat;
  background-size: 15 15;
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 8px;
}
/* line 152, ../css/stream.scss */
.nio-stream div.tile .tile-container .pinned {
  cursor: pointer;
  width: 15px;
  height: 15px;
  text-indent: 15px;
  white-space: nowrap;
  overflow: hidden;
  background: url("../../_media/pinned_icon.svg") center center no-repeat;
  background-size: 7.5 7.5;
  position: absolute;
  z-index: 99;
  top: 15px;
  right: 48px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 169, ../css/stream.scss */
.nio-stream div.tile .tile-container .close-tile {
  display: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
  text-indent: 16px;
  white-space: nowrap;
  overflow: hidden;
  background: url("../../_media/png/close-btn.png") center center no-repeat;
  position: absolute;
  z-index: 99;
  top: 14px;
  right: 12px;
}
/* line 184, ../css/stream.scss */
.nio-stream div.tile .tile-container .time-since-flag {
  position: absolute;
  bottom: 25px;
  right: 9px;
  font-size: 12px;
  z-index: 4;
}
/* line 192, ../css/stream.scss */
.nio-stream div.tile .tile-container .tile-footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 46px;
  z-index: 3;
}
/* line 200, ../css/stream.scss */
.nio-stream div.tile .tile-container .tile-footer .post-link {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 12px;
}
/* line 40, ../css/_share_icons.scss */
.nio-stream div.tile .tile-container .tile-share {
  position: absolute;
  bottom: 3px;
  left: 3px;
  padding: 0;
  margin: 0;
}
/* line 47, ../css/_share_icons.scss */
.nio-stream div.tile .tile-container .tile-share:before {
  content: 'SHARE:';
  display: block;
  text-align: left;
  font-size: 10px;
  padding-left: 6px;
  height: 16px;
}
/* line 56, ../css/_share_icons.scss */
.nio-stream div.tile .tile-container .tile-share .twitter {
  margin: 4px 2px;
  padding: 0;
  list-style-type: none;
  float: left;
  width: 25%;
  height: 16px;
  width: 16px;
  background-image: none;
  background-color: transparent;
}
@media only screen and (max-width: 478px) {
  /* line 56, ../css/_share_icons.scss */
  .nio-stream div.tile .tile-container .tile-share .twitter {
    width: 20px;
    height: 20px;
  }
}
/* line 25, ../css/_share_icons.scss */
.nio-stream div.tile .tile-container .tile-share .twitter a {
  background: url("../../_media/png/twitter-share.png") center center no-repeat;
  background-size: 100%;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 50% 0;
  text-align: center;
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 60, ../css/_share_icons.scss */
.nio-stream div.tile .tile-container .tile-share .facebook {
  margin: 4px 2px;
  padding: 0;
  list-style-type: none;
  float: left;
  width: 25%;
  height: 16px;
  width: 16px;
  background-image: none;
  background-color: transparent;
}
@media only screen and (max-width: 478px) {
  /* line 60, ../css/_share_icons.scss */
  .nio-stream div.tile .tile-container .tile-share .facebook {
    width: 20px;
    height: 20px;
  }
}
/* line 25, ../css/_share_icons.scss */
.nio-stream div.tile .tile-container .tile-share .facebook a {
  background: url("../../_media/png/fb-share.png") center center no-repeat;
  background-size: 100%;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 50% 0;
  text-align: center;
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 64, ../css/_share_icons.scss */
.nio-stream div.tile .tile-container .tile-share .pinterest {
  margin: 4px 2px;
  padding: 0;
  list-style-type: none;
  float: left;
  width: 25%;
  height: 16px;
  width: 16px;
  background-image: none;
  background-color: transparent;
}
@media only screen and (max-width: 478px) {
  /* line 64, ../css/_share_icons.scss */
  .nio-stream div.tile .tile-container .tile-share .pinterest {
    width: 20px;
    height: 20px;
  }
}
/* line 25, ../css/_share_icons.scss */
.nio-stream div.tile .tile-container .tile-share .pinterest a {
  background: url("../../_media/png/pin-share.png") center center no-repeat;
  background-size: 100%;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 50% 0;
  text-align: center;
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 68, ../css/_share_icons.scss */
.nio-stream div.tile .tile-container .tile-share .email {
  margin: 4px 2px;
  padding: 0;
  list-style-type: none;
  float: left;
  width: 25%;
  height: 16px;
  width: 16px;
  background-image: none;
  background-color: transparent;
}
@media only screen and (max-width: 478px) {
  /* line 68, ../css/_share_icons.scss */
  .nio-stream div.tile .tile-container .tile-share .email {
    width: 20px;
    height: 20px;
  }
}
/* line 25, ../css/_share_icons.scss */
.nio-stream div.tile .tile-container .tile-share .email a {
  background: url("../../_media/png/mail-share.png") center center no-repeat;
  background-size: 100%;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 50% 0;
  text-align: center;
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 212, ../css/stream.scss */
.nio-stream div.tile .tile-container.youtube {
  background-color: #000;
}
/* line 215, ../css/stream.scss */
.nio-stream div.tile .tile-container.linkedin .originator-name,
.nio-stream div.tile .tile-container.gplus .originator-name,
.nio-stream div.tile .tile-container.youtube .originator-name,
.nio-stream div.tile .tile-container.rss .originator-name {
  left: 9px;
}
/* line 222, ../css/stream.scss */
.nio-stream div.tile .tile-container.instagram .tile-footer,
.nio-stream div.tile .tile-container.twitter-photo .tile-footer {
  bottom: -46px;
  transition: all 0.2s ease;
}
/* line 228, ../css/stream.scss */
.nio-stream div.tile .tile-container.instagram:hover .tile-footer, .nio-stream div.tile.tile-full .tile-container.instagram .tile-footer,
.nio-stream div.tile .tile-container.twitter-photo:hover .tile-footer, .nio-stream div.tile.tile-full .tile-container.twitter-photo .tile-footer {
  bottom: 0px;
}
/* line 236, ../css/stream.scss */
.nio-stream div.tile.locked-mouse, .nio-stream div.tile.locked-click {
  z-index: 100;
}
/* line 240, ../css/stream.scss */
.nio-stream div.tile.locked-mouse .tile-container, .nio-stream div.tile.locked-click .tile-container {
  -moz-transform: scale(1.025, 1.025);
  -ms-transform: scale(1.025, 1.025);
  -webkit-transform: scale(1.025, 1.025);
  transform: scale(1.025, 1.025);
  -moz-transition: scale 0.5s;
  -o-transition: scale 0.5s;
  -webkit-transition: scale 0.5s;
  transition: scale 0.5s;
}
/* line 248, ../css/stream.scss */
.nio-stream div.tile.locked-click .pinned {
  display: block;
  width: 19px !important;
  height: 19px !important;
  top: 13px !important;
  right: 46px !important;
  opacity: 1 !important;
  border: 2px solid white;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  -moz-box-shadow: 2px 2px 2px black;
  -webkit-box-shadow: 2px 2px 2px black;
  box-shadow: 2px 2px 2px black;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 84, ../css/_base.scss */
.nio-stream div.tile.w1 {
  width: 248px;
}
/* line 111, ../css/_base.scss */
.nio-stream div.tile.w1.h1 {
  height: 226px;
}
/* line 111, ../css/_base.scss */
.nio-stream div.tile.w1.h2 {
  height: 452px;
}
/* line 111, ../css/_base.scss */
.nio-stream div.tile.w1.h3 {
  height: 678px;
}
/* line 111, ../css/_base.scss */
.nio-stream div.tile.w1.h4 {
  height: 904px;
}
/* line 84, ../css/_base.scss */
.nio-stream div.tile.w2 {
  width: 496px;
}
/* line 111, ../css/_base.scss */
.nio-stream div.tile.w2.h1 {
  height: 226px;
}
/* line 111, ../css/_base.scss */
.nio-stream div.tile.w2.h2 {
  height: 452px;
}
/* line 111, ../css/_base.scss */
.nio-stream div.tile.w2.h3 {
  height: 678px;
}
/* line 111, ../css/_base.scss */
.nio-stream div.tile.w2.h4 {
  height: 904px;
}
/* line 84, ../css/_base.scss */
.nio-stream div.tile.w3 {
  width: 744px;
}
/* line 111, ../css/_base.scss */
.nio-stream div.tile.w3.h1 {
  height: 226px;
}
/* line 111, ../css/_base.scss */
.nio-stream div.tile.w3.h2 {
  height: 452px;
}
/* line 111, ../css/_base.scss */
.nio-stream div.tile.w3.h3 {
  height: 678px;
}
/* line 111, ../css/_base.scss */
.nio-stream div.tile.w3.h4 {
  height: 904px;
}
/* line 84, ../css/_base.scss */
.nio-stream div.tile.w4 {
  width: 992px;
}
/* line 111, ../css/_base.scss */
.nio-stream div.tile.w4.h1 {
  height: 226px;
}
/* line 111, ../css/_base.scss */
.nio-stream div.tile.w4.h2 {
  height: 452px;
}
/* line 111, ../css/_base.scss */
.nio-stream div.tile.w4.h3 {
  height: 678px;
}
/* line 111, ../css/_base.scss */
.nio-stream div.tile.w4.h4 {
  height: 904px;
}
/* line 268, ../css/stream.scss */
.nio-stream div.tile.tile-full {
  /* @each $max-width, $tile-info in $responsive-sizes {
       $tile-dimension: percentage(1 / nth($tile-info, 1));
       $full-tile-width-mult: nth($tile-info, 2);
       $full-tile-height-mult: nth($tile-info, 3);
       @media only screen and ( max-width: $max-width ) {
           @include tile-sizes(
               $tile-dimension * $full-tile-width-mult,
               'auto',
               $full-tile-height-mult / $full-tile-width-mult);
       }
   }*/
}
/* line 88, ../css/_base.scss */
.nio-stream div.tile.tile-full.w1 {
  width: 496px;
}
/* line 106, ../css/_base.scss */
.nio-stream div.tile.tile-full.w1.h1 {
  height: 452px;
}
/* line 106, ../css/_base.scss */
.nio-stream div.tile.tile-full.w1.h2 {
  height: 452px;
}
/* line 106, ../css/_base.scss */
.nio-stream div.tile.tile-full.w1.h3 {
  height: 452px;
}
/* line 106, ../css/_base.scss */
.nio-stream div.tile.tile-full.w1.h4 {
  height: 452px;
}
/* line 88, ../css/_base.scss */
.nio-stream div.tile.tile-full.w2 {
  width: 496px;
}
/* line 106, ../css/_base.scss */
.nio-stream div.tile.tile-full.w2.h1 {
  height: 452px;
}
/* line 106, ../css/_base.scss */
.nio-stream div.tile.tile-full.w2.h2 {
  height: 452px;
}
/* line 106, ../css/_base.scss */
.nio-stream div.tile.tile-full.w2.h3 {
  height: 452px;
}
/* line 106, ../css/_base.scss */
.nio-stream div.tile.tile-full.w2.h4 {
  height: 452px;
}
/* line 88, ../css/_base.scss */
.nio-stream div.tile.tile-full.w3 {
  width: 496px;
}
/* line 106, ../css/_base.scss */
.nio-stream div.tile.tile-full.w3.h1 {
  height: 452px;
}
/* line 106, ../css/_base.scss */
.nio-stream div.tile.tile-full.w3.h2 {
  height: 452px;
}
/* line 106, ../css/_base.scss */
.nio-stream div.tile.tile-full.w3.h3 {
  height: 452px;
}
/* line 106, ../css/_base.scss */
.nio-stream div.tile.tile-full.w3.h4 {
  height: 452px;
}
/* line 88, ../css/_base.scss */
.nio-stream div.tile.tile-full.w4 {
  width: 496px;
}
/* line 106, ../css/_base.scss */
.nio-stream div.tile.tile-full.w4.h1 {
  height: 452px;
}
/* line 106, ../css/_base.scss */
.nio-stream div.tile.tile-full.w4.h2 {
  height: 452px;
}
/* line 106, ../css/_base.scss */
.nio-stream div.tile.tile-full.w4.h3 {
  height: 452px;
}
/* line 106, ../css/_base.scss */
.nio-stream div.tile.tile-full.w4.h4 {
  height: 452px;
}
/* line 6, ../css/_full_tiles.scss */
.nio-stream div.tile.tile-full .instagram .tile-footer, .nio-stream div.tile.tile-full .twitter-photo .tile-footer {
  height: 84px;
}
/* line 9, ../css/_full_tiles.scss */
.nio-stream div.tile.tile-full .instagram .tile-footer .caption, .nio-stream div.tile.tile-full .twitter-photo .tile-footer .caption {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 15px;
  height: 38px;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 23, ../css/_full_tiles.scss */
.nio-stream div.tile.tile-full .links {
  margin-top: 26px;
  text-align: left;
  font-size: 80%;
}
@media only screen and (max-width: 478px) {
  /* line 23, ../css/_full_tiles.scss */
  .nio-stream div.tile.tile-full .links {
    display: none;
  }
}
/* line 29, ../css/_full_tiles.scss */
.nio-stream div.tile.tile-full .links a, .nio-stream div.tile.tile-full .links a:visited {
  padding: 5px 2px 5px 25px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center left;
  display: block;
}
/* line 36, ../css/_full_tiles.scss */
.nio-stream div.tile.tile-full .links a.profile-link, .nio-stream div.tile.tile-full .links a:visited.profile-link {
  background-image: url("../../_media/profile_icon_wht.svg");
}
/* line 293, ../css/stream.scss */
.nio-stream div.tile.tile-full .tile-container .close-tile {
  display: block;
}
/* line 297, ../css/stream.scss */
.nio-stream div.tile.tile-full .tile-container .tile-content .shortContent {
  display: none;
}
/* line 301, ../css/stream.scss */
.nio-stream div.tile.tile-full .tile-container .tile-content .content {
  display: block;
}
/* line 305, ../css/stream.scss */
.nio-stream div.tile.tile-full .tile-container .tile-content .content .headline {
  font-weight: bold;
}
/* line 1, ../css/templates/_blank.scss */
.nio-stream div.tile .blank-tile, .nio-stream div.tile .blank {
  z-index: auto;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 5, ../css/templates/_blank.scss */
.nio-stream div.tile .blank-tile .tile-content, .nio-stream div.tile .blank .tile-content {
  min-height: 100%;
  max-height: none;
  height: 100%;
  width: 100%;
  background: url("../../_media/loading-icon.svg") center center no-repeat;
  background-size: 100px 100px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 1, ../css/templates/_facebook.scss */
.nio-stream div.tile .facebook, .nio-stream div.tile .facebook-photo {
    /*.tile-footer {
	@include tile-info-gradient(59, 89, 152);
    }*/
}
/* line 2, ../css/templates/_facebook.scss */
.nio-stream div.tile .facebook .tile-content, .nio-stream div.tile .facebook-photo .tile-content {
  background-color: #3b5998;
}
/* line 5, ../css/templates/_facebook.scss */
.nio-stream div.tile .facebook .tile-content .tile-logo, .nio-stream div.tile .facebook-photo .tile-content .tile-logo {
  background: url("/wp-content/themes/nexus-child/images/tile/facebook-tile.png") no-repeat left top;
}
/* line 9, ../css/templates/_facebook.scss */
.nio-stream div.tile .facebook .tile-content .content-image, .nio-stream div.tile .facebook-photo .tile-content .content-image {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 98;
  overflow: hidden;
}
/* line 2, ../css/templates/_google.scss */
.nio-stream div.tile .gplus .tile-content {
  background-color: #b30000;
        /*.tile-footer {
	    @include tile-info-gradient(179, 0, 0);
        }*/
}
/* line 5, ../css/templates/_google.scss */
.nio-stream div.tile .gplus .tile-content .tile-logo {
  background: url("/wp-content/themes/nexus-child/images/tile/gplus-tile.png") no-repeat left top;
}
/* line 2, ../css/templates/_instagram.scss */
.nio-stream div.tile .instagram .tile-content {
  background-color: #000;
}
/* line 5, ../css/templates/_instagram.scss */
.nio-stream div.tile .instagram .tile-content .tile-info, .nio-stream div.tile .instagram .tile-content .tile-footer {
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 9, ../css/templates/_instagram.scss */
.nio-stream div.tile .instagram .tile-content .tile-logo {
  background: url("/wp-content/themes/nexus-child/images/tile/instagram-tile.png") no-repeat left top;
}
/* line 13, ../css/templates/_instagram.scss */
.nio-stream div.tile .instagram .tile-content img {
  padding: 0px;
  max-height: none;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 22, ../css/templates/_instagram.scss */
.nio-stream div.tile .instagram .tile-content .caption {
  display: none;
}
/* line 2, ../css/templates/_linkedin.scss */
.nio-stream div.tile .linkedin .tile-content {
  background-color: #4c7eb1;
        /*.tile-footer {
	    @include tile-info-gradient(76, 126, 177);
        }*/
}
/* line 5, ../css/templates/_linkedin.scss */
.nio-stream div.tile .linkedin .tile-content .tile-logo {
  background: url("/wp-content/themes/nexus-child/images/tile/linkedin-tile.png") no-repeat left top;
}
/* line 5, ../css/templates/_monitoring.scss */
.nio-stream div.tile .stat-count .source-wrapper .tile-content,
.nio-stream div.tile .stat-time .source-wrapper .stat-count .tile-content,
.nio-stream div.tile .stat-percent .source-wrapper .stat-count .tile-content, .nio-stream div.tile .stat-count .source-wrapper .tile-info,
.nio-stream div.tile .stat-time .source-wrapper .stat-count .tile-info,
.nio-stream div.tile .stat-percent .source-wrapper .stat-count .tile-info,
.nio-stream div.tile .stat-count .source-wrapper .stat-time .tile-content,
.nio-stream div.tile .stat-time .source-wrapper .tile-content,
.nio-stream div.tile .stat-percent .source-wrapper .stat-time .tile-content,
.nio-stream div.tile .stat-count .source-wrapper .stat-time .tile-info,
.nio-stream div.tile .stat-time .source-wrapper .tile-info,
.nio-stream div.tile .stat-percent .source-wrapper .stat-time .tile-info,
.nio-stream div.tile .stat-count .source-wrapper .stat-percent .tile-content,
.nio-stream div.tile .stat-time .source-wrapper .stat-percent .tile-content,
.nio-stream div.tile .stat-percent .source-wrapper .tile-content,
.nio-stream div.tile .stat-count .source-wrapper .stat-percent .tile-info,
.nio-stream div.tile .stat-time .source-wrapper .stat-percent .tile-info,
.nio-stream div.tile .stat-percent .source-wrapper .tile-info {
  color: white;
}
/* line 9, ../css/templates/_monitoring.scss */
.nio-stream div.tile .stat-count .source-wrapper,
.nio-stream div.tile .stat-time .source-wrapper,
.nio-stream div.tile .stat-percent .source-wrapper {
  height: 100%;
}
/* line 15, ../css/templates/_monitoring.scss */
.nio-stream div.tile .stat-count .source-wrapper .tile-content .number,
.nio-stream div.tile .stat-time .source-wrapper .tile-content .number,
.nio-stream div.tile .stat-percent .source-wrapper .tile-content .number {
  display: block;
  text-align: center;
  font-size: 50px;
  margin: 55px 0px 25px 0px;
}
/* line 22, ../css/templates/_monitoring.scss */
.nio-stream div.tile .stat-count .source-wrapper .tile-content .percentage,
.nio-stream div.tile .stat-time .source-wrapper .tile-content .percentage,
.nio-stream div.tile .stat-percent .source-wrapper .tile-content .percentage {
  display: block;
  position: relative;
  text-align: center;
  font-size: 127px;
  margin: 55px 0px 25px 0px;
}
/* line 28, ../css/templates/_monitoring.scss */
.nio-stream div.tile .stat-count .source-wrapper .tile-content .percentage sup,
.nio-stream div.tile .stat-time .source-wrapper .tile-content .percentage sup,
.nio-stream div.tile .stat-percent .source-wrapper .tile-content .percentage sup {
  position: absolute;
  font-size: 30px;
  top: -28px;
}
/* line 35, ../css/templates/_monitoring.scss */
.nio-stream div.tile .stat-count .source-wrapper .tile-content .time-stamp,
.nio-stream div.tile .stat-time .source-wrapper .tile-content .time-stamp,
.nio-stream div.tile .stat-percent .source-wrapper .tile-content .time-stamp {
  display: block;
  text-align: center;
  font-size: 60px;
  margin: 50px 0px 25px 0px;
}
/* line 41, ../css/templates/_monitoring.scss */
.nio-stream div.tile .stat-count .source-wrapper .tile-content .time-stamp .ampm,
.nio-stream div.tile .stat-time .source-wrapper .tile-content .time-stamp .ampm,
.nio-stream div.tile .stat-percent .source-wrapper .tile-content .time-stamp .ampm {
  font-size: 30px;
  text-transform: lowercase;
}
/* line 47, ../css/templates/_monitoring.scss */
.nio-stream div.tile .stat-count .source-wrapper .tile-content .duration-passed,
.nio-stream div.tile .stat-time .source-wrapper .tile-content .duration-passed,
.nio-stream div.tile .stat-percent .source-wrapper .tile-content .duration-passed {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
}
/* line 62, ../css/templates/_monitoring.scss */
.nio-stream div.tile .stat-count .youtube .tile-content,
.nio-stream div.tile .stat-time .youtube .tile-content,
.nio-stream div.tile .stat-percent .youtube .tile-content {
  padding-top: 25%;
}
/* line 1, ../css/templates/_rss.scss */
.nio-stream div.tile .rss {
    /*.tile-footer {
	@include tile-info-gradient(32, 32, 32);
    }*/
}
/* line 2, ../css/templates/_rss.scss */
.nio-stream div.tile .rss .tile-content {
  background-color: #202020;
}
/* line 5, ../css/templates/_rss.scss */
.nio-stream div.tile .rss .tile-content a {
  color: #d3ae5e;
}
/* line 9, ../css/templates/_rss.scss */
.nio-stream div.tile .rss .tile-content .profile-pic {
  background-image: url("../../_media/png/cu-logo.png");
}
/* line 13, ../css/templates/_rss.scss */
.nio-stream div.tile .rss .tile-content .tile-logo {
  background: url("/wp-content/themes/nexus-child/images/tile/rss-tile.png") no-repeat left top;
}
/* line 17, ../css/templates/_rss.scss */
.nio-stream div.tile .rss .tile-content .twitter a {
  background-image: url("../../_media/png/gold-twitter-share.png");
}
/* line 21, ../css/templates/_rss.scss */
.nio-stream div.tile .rss .tile-content .facebook a {
  background-image: url("../../_media/png/gold-fb-share.png");
}
/* line 25, ../css/templates/_rss.scss */
.nio-stream div.tile .rss .tile-content .pinterest a {
  background-image: url("../../_media/png/gold-pin-share.png");
}
/* line 29, ../css/templates/_rss.scss */
.nio-stream div.tile .rss .tile-content .email a {
  background-image: url("../../_media/png/gold-mail-share.png");
}
/* line 1, ../css/templates/_twitter.scss */
.nio-stream div.tile .twitter {
    /*.tile-footer {
	@include tile-info-gradient(00, 172, 237);
    }*/
}
/* line 2, ../css/templates/_twitter.scss */
.nio-stream div.tile .twitter .tile-content {
  background-color: #00aced;
}
/* line 12, ../css/templates/_twitter.scss */
.nio-stream div.tile .twitter-photo .tile-content {
  background-color: #000;
}
/* line 20, ../css/templates/_twitter.scss */
.nio-stream div.tile .twitter .tile-content img,
.nio-stream div.tile .twitter-photo .tile-content img {
  padding: 0px;
  max-height: none;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
/* line 33, ../css/templates/_twitter.scss */
.nio-stream div.tile .twitter .caption,
.nio-stream div.tile .twitter-photo .caption {
  display: none;
}
/* line 40, ../css/templates/_twitter.scss */
.nio-stream div.tile .twitter .tile-content .tile-logo {
  background-image: url("/wp-content/themes/nexus-child/images/tile/twitter-tile.png");
}
/* line 47, ../css/templates/_twitter.scss */
.nio-stream div.tile .twitter-photo .tile-info, .nio-stream div.tile .twitter-photo .tile-footer {
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 51, ../css/templates/_twitter.scss */
.nio-stream div.tile .twitter-photo .tile-content .tile-logo {
  background-image: url("/wp-content/themes/nexus-child/images/tile/twitter-photo-tile.png");
}
/* line 3, ../css/templates/_youtube.scss */
.nio-stream div.tile .youtube .tile-content {
  height: 100%;
  max-height: 100%;
  padding: 40px 0 45px;
  overflow: hidden;
}
/* line 9, ../css/templates/_youtube.scss */
.nio-stream div.tile .youtube .tile-content .tile-logo {
  background: url("/wp-content/themes/nexus-child/images/tile/youtube-tile.png") no-repeat left top;
}
/* line 13, ../css/templates/_youtube.scss */
.nio-stream div.tile .youtube .tile-content .tile-info {
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 17, ../css/templates/_youtube.scss */
.nio-stream div.tile .youtube .tile-content .video-cover-image {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 97;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
/* line 30, ../css/templates/_youtube.scss */
.nio-stream div.tile .youtube .tile-content .video-cover-image .play-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -27px 0 0 -13%;
  width: 61px;
  height: 61px;
  font-size: 19px;
  font-weight: 700;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0px 0px 0px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-decoration: none;
  background: url("../../_media/png/play-btn-small.png") center center no-repeat;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}
/* line 50, ../css/templates/_youtube.scss */
.nio-stream div.tile .youtube .tile-content .video-cover-image .play-button span:before {
  content: '\25B6  ';
}
/* line 54, ../css/templates/_youtube.scss */
.nio-stream div.tile .youtube .tile-content .video-cover-image .play-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid white;
}
/* line 62, ../css/templates/_youtube.scss */
.nio-stream div.tile .youtube .tile-content .video-meta {
  position: absolute;
  top: 360px;
  height: 100%;
  max-height: 280px;
  padding: 6% 30px 0px 30px;
  font-family: "Helvetica Neue";
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.22em;
  color: #343434;
  margin: 0;
}
/* line 76, ../css/templates/_youtube.scss */
.nio-stream div.tile .youtube .tile-content .video-meta .video-title {
  margin-bottom: 12px;
}
/* line 78, ../css/templates/_youtube.scss */
.nio-stream div.tile .youtube .tile-content .video-meta .video-title p {
  font-size: 28px;
  padding: 0;
}
/* line 84, ../css/templates/_youtube.scss */
.nio-stream div.tile .youtube .tile-content .video-meta .video-description p {
  font-size: 14px;
  padding: 0;
}
/* line 94, ../css/templates/_youtube.scss */
.nio-stream div.tile.tile-full .youtube .full-tile-content {
  display: none;
}
/* line 95, ../css/templates/_youtube.scss */
.nio-stream div.tile.tile-full .youtube .tile-content {
  display: block;
}
/* line 96, ../css/templates/_youtube.scss */
.nio-stream div.tile.tile-full .youtube .tile-logo {
  display: none;
}
/* line 313, ../css/stream.scss */
.nio-stream .clearfix:after {
  content: ' ';
  display: block;
  clear: both;
}
