.icon {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
	width: 20px;
}
.icon-mini {
	height: 16px;
	width: 16px;
}
.icon-large {
	height: 80px;
	width: 80px;
}
.icon-facebook {
	background-image: url(facebook.svg);
}
.icon-twitter {
	background-image: url(twitter.svg);
}
.icon-nio {
	background-image: url(nio.svg);
}
.icon-pinned {
	background-image: url(pinned.svg);
}
.icon-envelope {
	background-image: url(envelope.svg);
}
.icon-youtube {
	background-image: url(youtube.svg);
}
.icon-loading {
	background-image: url(loading.svg);
}
.icon-gplus {
	background-image: url(gplus.svg);
}
.icon-instagram {
	background-image: url(instagram.svg);
}
.icon-pinterest {
	background-image: url(pinterest.svg);
}
