<div class="source-wrapper {{source_type}}">
	<div class="tile-content">
		<ul class="tile-share clearfix">

			<li class="twitter">
				<a href="https://twitter.com/intent/tweet?url={{urlEscape link}}&amp;text={{text}}" title="Share on Twitter" target="_blank">
					Share on Twitter</a>
			</li>

			<li class="facebook">
				<a href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]={{urlEscape link}}&amp;p[images][0]={{HERE}}&amp;p[title]={{HERE}}" title="Share on Facebook" target="_blank">
					Share on Facebook</a>
			</li>

			<li class="gplus">
				<a href="https://plus.google.com/share?url={{urlEscape link}}" title="Share on Google Plus" target="_blank">
					Share on Google Plus</a>
			</li>

			<li class="pinterest">
				<a href="https://www.pinterest.com/pin/create/button/?url={{urlEscape link}}&amp;media={{HERE}}&amp;description={{text}}" title="Pin It" target="_blank">
					Pin It</a>
			</li>

			<li class="linkedin">
				<a href="https://www.linkedin.com/shareArticle?summary={{text}}&amp;url={{urlEscape link}}&amp;title={{HERE}}&amp;mini=true&amp;source=" title="Share on LinkedIn" target="_blank">
					Share on LinkedIn</a>
			</li>

			<li class="pocket">
				<a href="https://getpocket.com/save?url={{urlEscape link}}" data-lang="en" data-save-url="{{link}}"  title="Save to Pocket" target="_blank">
					Save to Pocket</a>
			</li>

		</ul>
	</div>
	<!-- /.tile-content -->

	<div class="tile-info clearfix">
		<div class="originator-name">
			Share This</div>
		<div class="close"><a href="#" title="Close">Close</a></div>
	</div><!-- /.tile-info -->
</div><!-- /.source-wrapper -->
