@import '../src/vars'
*
	box-sizing border-box
	margin 0
	padding 0
h1
	text-align center
:host
	background #fff
	position absolute
	width 100%
	height 100%
	box-sizing border-box
	& /deep/
		core-toolbar
			background transparent
		::content [tool]
			margin 0
#core_scaffold
	position absolute
	top 0px
	right 0px
	bottom 0px
	left 0px
	width 100%
	height 100%
core-header-panel
	background #fff
	& /deep/
		core-toolbar
			background #fff
		#mainPanel
			padding tile-padding * 2
	section
		padding-bottom tile-padding * 2
core-header-panel
core-toolbar
paper-input
	font-family font-family
#core_menu
	font-size 16px
#tiles
	float left
	padding tile-spacing * .5
.label
	padding tile-padding 0
paper-radio-button
	cursor pointer
	display block
