.font-header
	font-family font-family-header

.col
	float left
	width tile-width + tile-spacing
	&:last-of-type .tile
		left auto
		right 0
	.tile-wrapper:last-of-type .tile
		bottom 0
		top auto

@keyframes slide-down
	from
		height 0
	to
		height tile-height + tile-spacing

.tile-wrapper
	border tile-spacing * .5 solid transparent
	float left
	height tile-height + tile-spacing
	position relative
	transition transition-duration all
	width tile-width + tile-spacing
	&, *
		box-sizing border-box
	*
		margin 0
		padding 0
	&:hover
		border-color linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1))
	&.slide-down
		animation slide-down transition-duration

.tile
	background #fff
	border-radius border-radius
	color color
	cursor pointer
	font-family font-family
	font-size type-base
	font-weight 200 //font-weight
	height tile-height
	left 0
	padding tile-header-height 0 tile-footer-height
	position absolute
	top 0
	if use-transitions
		transition all transition-duration
	width tile-width
	z-index z-index-1
	if use-transforms
		&:hover
			transform scale(1.1, 1.1)
			z-index z-index-3
	p
		margin-bottom tile-padding
	a
		text-decoration none
		if use-transitions
			transition all transition-duration
		&:hover
			text-decoration underline
	::selection
		background pink //color-selection
.tile-header
.tile-content
	padding tile-padding
.tile-header
.tile-content
.tile-footer
	border-style solid
	if use-transitions
		transition all transition-duration
.tile-header
.tile-footer
	position absolute
	width 100%

// Tile Header
// ------------------------------------------------------------
.tile-header
	background color
	border-radius border-radius border-radius 0 0
	border-width tile-header-border tile-header-border 0
	font-family font-family-header
	left 0
	color color-inverse
	height tile-header-height
	top 0
	.icon
		opacity .5
		height 100%
		position absolute
		right tile-padding
		top tile-padding * -1.2
.tile-author
	color #fff !important
	// add right padding for the icons
	padding tile-padding * .15 tile-avatar-width 0 tile-padding
	time
		font-weight 200
		font-size type-small
		display block
		opacity .6
.has-profile-image .tile-author
	padding-left tile-avatar-width + tile-padding
.tile-author-avatar
.tile-author-name
	display block
.tile-author-avatar
	background rgba(0, 0, 0, .2)
	border tile-avatar-border solid rgba(0, 0, 0, .5)
	border-radius border-radius
	left tile-padding
	height tile-avatar-height
	position absolute
	top tile-padding
	width tile-avatar-width
.tile-author-name
	font-size type-larger
	if tile-author-name-margin
		margin tile-author-name-margin

// Tile Content
// ------------------------------------------------------------
.tile-content
	background tile-content-bg
	border-width tile-content-border
	font-size type-base
	height 100%
	margin tile-content-margin
	padding tile-content-padding
	if tile-content-spacing and border-radius
		border-radius border-radius
.tile-text
	height 100%
	overflow hidden

// Tile Footer
// ------------------------------------------------------------
.tile-footer
	background tile-content-bg
	border-radius 0 0 border-radius border-radius
	border-width tile-footer-border
	border-top 0
	bottom 0
	font-size type-smallest
	height tile-footer-height
	line-height tile-footer-height
	position relative
	margin 0 tile-padding * 2
	width tile-width - tile-padding * 4 - border-width * 2

	&:before
		background linear-gradient(transparent, white)
		content ' '
		top (tile-content-fader-height + tile-footer-border) * -1
		display block
		height tile-content-fader-height
		left 0
		position absolute
		width 100%
	a
		color rgba(255, 255, 255, .7)
		&:hover
			color rgba(255, 255, 255, 1)

// Expanded tiles
// ------------------------------------------------------------
.is-expanded
	height tile-height * 2 + tile-spacing
	z-index z-index-2
	.on-expand
		opacity 1
.on-expand
	opacity 0
	transition all transition-duration

use-light-footer = true

// Post source colors
// ------------------------------------------------------------
tile-type(color)
	border border-width solid color
	.tile-header
		background-color color
		border-color darken(color, tile-bg-shade)
	&:hover
		.tile-header
			background-color darken(color, tile-bg-shade)
	.tile-content
		border-color darken(color, tile-bg-shade)
		&:before
			border-bottom-color darken(color, tile-bg-shade + 0%)
	.tile-content
	.tile-footer
		a
			color darken(color, tile-bg-shade)
			&:hover
				color lighten(color, tile-bg-shade)
	if use-light-footer
		.tile-content
		.tile-footer
			border 0
		.tile-footer
			border-top 1px solid rgba(color, .3)
	if use-gradient
		.tile-header
			background-image linear-gradient(color, 95% darken(color, tile-bg-shade), 100% darken(color, tile-bg-shade + 8%))
.tile--facebook
	tile-type(color-facebook)
.tile--twitter
	tile-type(color-twitter)
.tile--gplus
	tile-type(color-gplus)
.tile--linkedin
	tile-type(color-linkedin)
.tile--rss
	tile-type(color-rss)

// Media tiles
// ------------------------------------------------------------
.has-media
	background #000
	if border-width
		border border-width solid #333
	else
		border 1px solid #333
	overflow hidden
	a
		color #fff
	.tile-header
	.tile-text
	.tile-footer
		color rgba(255, 255, 255, .8)
		border 0
		if use-transitions
			transition margin 300ms
		z-index z-index-3
	.tile-header
	.tile-text
		background rgba(0, 0, 0, .5)
	.tile-header
		margin-top -100%
	.tile-content
		position static
	.tile-text
		bottom 0
		left 0
		height 0
		line-height tile-footer-height
		margin-bottom tile-footer-height * -1
		overflow hidden
		position absolute
		width 1000px
	.tile-footer
		background transparent
		bottom tile-footer-height * -1
		margin 0
		padding 0 !important
		width 100%
		&:before
			display none
		a
			background rgba(0, 0, 0, 1)
			padding 0 tile-padding * 2
	&.is-expanded
		width tile-width * 2 + tile-spacing
	&:hover
		.tile-text
			animation marquee 5s linear infinite
			height tile-footer-height
			margin-bottom 0
		.tile-header
			margin-top 0
		&.is-expanded
			.tile-footer
				bottom 0

.tile-media
	bottom 0
	left 0
	margin auto
	position absolute
	right 0
	top 0
	width 100%
	z-index z-index-1


if use-arrow
	.tile-content
		position relative
		&:after
		&:before
			bottom 100%
			left tile-avatar-width * .5 + arrow-size * 2 - 2
			border solid transparent
			content " "
			height 0
			width 0
			position absolute
			pointer-events none
		&:after
			border-color transparent
			border-bottom-color tile-content-bg
			border-width arrow-size
			margin-left arrow-size * -1
		&:before
			border-color transparent
			border-width arrow-size + border-width
			margin-left (arrow-size + border-width) * -1

@keyframes flip-in
	0%
		transform perspective(1000px) rotateX(180deg)
		transition-timing-function ease-in
	100%
		transform perspective(1000px) rotateX(0)

.flip-in
	animation-duration 1s
	animation-name flip-in
	animation-fill-mode both
	backface-visibility hidden
