<div class="tile tile--<%=type%><% if (media_url) { %> has-media<% } %><% if (profile_image_url) { %> has-profile-image<% } %>">
	<header class=tile-header>
		<a class="tile-author u-block">
			<% if (profile_image_url) { %>
				<img class=tile-author-avatar src="<%=profile_image_url%>" alt="<%=name%>'s avatar">
			<% } %>
			<strong class="tile-author-name u-textTruncate"><%=name%></strong>
			<time is=relative-time datetime="<%=time%>"><%=time%></time>
		</a>
		<span class="icon icon-<%=type%>"></span>
	</header>
	<div class=tile-content>
		<% if (media_url) { %>
			<img class=tile-media src="<%=media_url%>" alt="<%=text%>" title="<%=text%>">
			<div class="tile-text u-marquee">
				<div>
					<span><%=linkify(truncate(text, 140))%></span>
					<span><%=linkify(truncate(text, 140))%></span>
				</div>
			</div>
		<% } else { %>
			<div class=tile-text><%=linkify(truncate(text, 140))%></div>
		<% } %>
	</div>
	<footer class=tile-footer>
		<a class="block u-pullLeft" href="<%=link%>" target=_blank>
			View post
		</a>
		<a class="block u-pullRight" href=#>
			Share
		</a>
	</footer>
</div>
