<div id="tile-<%=id%>" layout vertical class="tile -transition -<%=type%><% if (avatar) { %> -avatar<% } %><% if (media) { %> -media<% } %><% if (expanded) { %> -expanded<% } %>">
	<header class="-transition" center layout horizontal full-width>
		<% if (avatar) { %>
			<a href="#/<%=id%>" class="tile-avatar poster">
				<img src="<%=avatar%>">
			</a>
		<% } %>
		<div class="tile-title" flex center pad-height pad-width-double>
			<h3 class="tile-author ellipsis">
				<a href="<%=authorLink%>"><%=author%></a>
			</h3>
			<time is="relative-time" datetime="<%=time%>" class="muted-inverse">
				<%=time%>
			</time>
		</div>
		<span class="icon icon-<%=type%>" pad-width-double></span>
	</header>
	<div class="tile-bottom" flex vertical layout>
		<div class="tile-content" flex pad-double>
			<% if (media) { %>
				<div class="tile-media poster" fit>
					<img src="<%=media%>">
				</div>
			<% } %>
			<span class="tile-text -transition<% if (media) { %> marquee -paused<% } %>" block>
				<%=linkify(text)%>
			</span>
		</div>

		<footer class="-transition type-small height-larger"
			<% if (media) { %>pad-width-double<% } else { %>space-width-double<% } %>
			layout horizontal justified pad-height-half>
			<a href="<%=link%>" target="_blank">
				View on <%=mediaTypeName(type)%>
				<span class="icon icon-external icon-mini"></span>
			</a>
			<a href="#" target="_blank">
				Share
				<span class="icon icon-share icon-mini"></span>
			</a>
		</footer>
	</div>
</div>
