<header class=tile-header>
	<a class=tile-author>
		<% if (profile_image_url) { %>
			<img class=tile-author-avatar src="<%=profile_image_url%>" alt="<%=name%>'s avatar">
		<% } %>
		<strong class=tile-author-name><%=name%></strong>
	</a>
	<span class=tile-actions>
		<span class="icon icon-<%=type%>"></span>
	</span>
</header>
<div class=tile-content>
	<% if (media_url) { %>
		<img class=tile-media src="<%=media_url%>" alt="<%=text%>" title="<%=text%>">
	<% } else { %>
		<%=linkify(text)%>
	<% } %>
</div>
<footer class=tile-footer>
	<p class="tile-share float-left">
		<a href=#>
			<span class="icon icon-mini icon-twitter"></span>
		</a>
		<a href=#>
			<span class="icon icon-mini icon-facebook"></span>
		</a>
		<a href=#>
			<span class="icon icon-mini icon-pinterest"></span>
		</a>
		<a href=#>
			<span class="icon icon-mini icon-envelope"></span>
		</a>
	<p class=float-right>
		<time is=relative-time datetime="<%=time%>">
			<%=time%>
		</time>
		<!--<a target=_blank href="<%=link%>">view post</a>-->
</footer>
