border-radius = 0
border-width = 0
tile-content-border = 1px
tile-content-margin = 0
tile-footer-border = 0

tile-header-border = 0
tile-header-height = 50px

tile-author-name-margin = -8px 0 0

tile-avatar-border = 1px

tile-spacing = 9px
use-gradient = false
use-arrow = false
