.blank-tile, .blank {
    z-index: auto;
    @include box-shadow(none);

    .tile-content {
        min-height: 100%;
        max-height: none;
        height: 100%;
        width: 100%;
        background: url('../../_media/loading-icon.svg') center center no-repeat;
        background-size: 100px 100px;
        @include opacity(0.2);
    }
}

