* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.container {
  margin: 0 auto;
  width: 960px;
}
:host {
  background: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#core_scaffold {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#core_header_panel {
  background: #fff;
}
#core_toolbar {
  color: #fff;
}
#core_menu {
  font-size: 16px;
}
