svg {
  font: 10px sans-serif;
}

.line {
	cursor: pointer;
	fill: none;
	stroke: #000;
	stroke-width: 2px;
	transition: stroke-width 300ms;
}

.line:hover {
	stroke-width: 4px;
}

.axis path,
.axis line {
	fill: none;
	shape-rendering: crispEdges;
}

.ticks path,
.ticks line {
	stroke: #000;
}

.grid path,
.grid line {
	stroke: #ccc;
}

.value {
	background: #ccc;
	border-radius: 2px;
}

@keyframes slide_left {
	from {
		transform: translate(0, 0)
	}
	to {
		transform: translate(-3.833px, 0)
	}
}

.label {
	fill: #666;
}
