svg
	font 10px sans-serif
.line
	cursor pointer
	fill none
	stroke #000
	stroke-width 2px
	transition stroke-width 300ms
	&:hover
		stroke-width 4px
.axis
	path
	line
		fill none
		shape-rendering crispEdges
.ticks
	path
	line
		stroke #000
.grid
	path
	line
		stroke #ccc
.value
	background #ccc
	border-radius 2px
.label
	fill #666
