.u-pullLeft
	float left
.u-pullRight
	float right
.u-textTruncate
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
.u-block
	display block

@keyframes marquee
	0%
		left 0
	100%
		left -100%

.u-marquee
	overflow hidden
	position relative
	width 420px
	div
		display block
		height 100%
		overflow hidden
		position absolute
		width 200%
	span
		float left
		width 50%
	&:hover div
		animation-play-state paused

.u-arrow-up
	border-bottom 7px solid black
	border-left 7px solid transparent
	border-right 7px solid transparent
	height 0
	width 0
