use-gradient = false
use-transforms = false
use-transitions = true
use-arrow = true

tile-bg-shade = 0%
arrow-size = 6px

border-radius = 0px
border-width = 1px
transition-speed = 300ms

color-default = rgb(255, 255, 255)
color-facebook = #3b5998
color-gplus = #b30000
color-linkedin = #4c7eb1
color-rss = #202020
color-twitter = #00aced
color = #333
color-inverse = rgb(255, 255, 255)

font-family = Roboto, 'Helvetica Neue', Helvetica, sans-serif
font-family-header = 'Roboto Condensed', font-family
font-weight = 300

type-micro = 10px
type-smallest = 12px
type-small = 14px
type-base = 14px
type-large = 16px
type-larger = 16px
type-largest = 22px
type-jumbo = 24px

z-index-1 = 100
z-index-2 = 200
z-index-3 = 300

tile-height = 250px
tile-width = 300px
tile-spacing = 8px
tile-padding = 10px

tile-header-padding = tile-padding
tile-header-border = 1px
tile-header-height = 70px

tile-avatar-height = 50px - border-width * 2
tile-avatar-border = 1px
tile-avatar-width = 50px - border-width * 2

tile-content-bg = rgba(255, 255, 255, 1)
tile-content-padding = tile-padding * 2
tile-content-border = 1px
tile-content-margin = 0

tile-footer-height = 30px
tile-footer-border = border-width

//@import 'vars-mock'
//@import 'vars-fancy'
